
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>SecondHands.com</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- //for-mobile-apps -->
{% load static %}
<link href="{% static '/css2/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static '/css2/font-awesome.css' %}" rel="stylesheet"> 
<link href="{% static '/css2/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static '/css2/style-con.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
<!--//fonts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css"> 
<style>
	.clogo{
  background-image: url("https://i.postimg.cc/Wz78PkD0/picwood2.jpg");
  height:max-content;
  background-attachment:100px;
  background-position: center;
  background-repeat: no-repeat;
  top:5%;
  background-size:cover;
}
.cpage-title{
  background:rbga(0,0,0,0.5);
  text-align: center;
  color:whitesmoke;
  padding:30px;
  font-variant: small-caps;
  font-size: 90px;
  top:10px;
  font-family:bold;
  letter-spacing: 20px;
}
.footer
{
  margin-top:50px;
  background:black;
  color:#fff;
}

.footer h1
{
  font-size:15px;
  margin:25px 0; 
}
.footer p
{
  font-size:12px;

}
.copyright
{
  margin-bottom:-80px;
  text-align:center;
  font-size:15px;
  padding-bottom:20px;
}
.fa-heart-o
{
  color: red;
  font-size:15px;
}
.footer hr
{
  margin-top:10px;
  background-color: #ccc;
}
.footer-image img
{
  width:150px;

}
.footer.row.fa
{
  padding-right: 20px;
  font-size:15px;
}

</style>

 
</head>
<body>
	<div class="clogo">
		<div class="cpage-title">SecondHands</div>
	</div>

<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
   <div class="container">
		<div class="w3l_agileits_breadcrumbs_inner">
			<ul>
				<li><a href="/index">Home</a><span>&#187;</span></li>
									
				<li>Contact</li>
				</ul>
		</div>
	</div>
</div>
<!-- //breadcrumbs -->
<div class="login elite-app contact-page">
	<div class="container">
	
			<div class="col-md-6 regstr-r-w3-agileits">
			<div class="form-bg-w3ls">
				<h3 class="subhead-agileits white-w3ls">Contact Form</h3>
				<form action="#" method="post">
					<input type="text" name="Name" placeholder="Name" required="">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="text" name="Subject" placeholder="Subject" required="">
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Submit" class="button-w3layouts hvr-rectangle-out">
				</form>	
			</div>
			</div>
			<div class="col-md-6 contact-agileits-w3layouts">
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
						<li>
							<h6>Hyderabad</h6>
						</li>
						<li>
							<h6>Mumbai</h6>
						</li>
						<li>
							<h6>New Delhi</h6>
						</li>
						<li>
							<h6>Chennai</h6>
						</li>
						<li>
							<h6>Kolkata</h6>
						</li>
						</ul>
						<div class="resp-tabs-container">
						<div class="tab1">
							<p class="para-agileits-w3layouts"><span>Location : </span>Arcade Building,Banjara Hills,Hyderabad</p>
							<p class="para-agileits-w3layouts"><span>Call Us : </span>935687512</p>
							<p class="para-agileits-w3layouts"><span>Email : </span><a href="secondhyd@example.com">secondhyd@example.com</a></p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15227.654314823501!2d78.4270134799933!3d17.415934558982823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9728e7c230a5%3A0xbf59752f5f7caa0!2sBanjara%20Hills%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1634969443628!5m2!1sen!2sin"></iframe>
						</div>
						
						<div class="tab2">
							<p class="para-agileits-w3layouts"><span>Location : </span>25095 Blue Ravine Rd, Mumbai</p>
							<p class="para-agileits-w3layouts"><span>Call Us : </span>8326254592</p>
							<p class="para-agileits-w3layouts"><span>Email : </span><a href="secondhyd@example.com">secondhyd@example.com</a></p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.1160978669!2d72.7411002895225!3d19.082197839833327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1634969635876!5m2!1sen!2sin"></iframe>
						</div>
						<div class="tab3">
							<p class="para-agileits-w3layouts"><span>Location : </span>253 Church St, New Dehi</p>
							<p class="para-agileits-w3layouts"><span>Call Us : </span>9779615426</p>
							<p class="para-agileits-w3layouts"><span>Email : </span><a href="secondhyd@example.com">secondhyd@example.com</a></p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223994.25250092254!2d76.9512648651241!3d28.69233287713519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d047309fff32f%3A0xfc5606ed1b5d46c3!2sDelhi!5e0!3m2!1sen!2sin!4v1634969800586!5m2!1sen!2sin"></iframe>
						</div>
						<div class="tab4">
							<p class="para-agileits-w3layouts"><span>Location : </span>Sacramento, Chennai</p>
							<p class="para-agileits-w3layouts"><span>Call Us : </span>8505792654</p>
							<p class="para-agileits-w3layouts"><span>Email : </span><a href="secondhyd@example.com">secondhyd@example.com</a></p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248756.116753594!2d80.06892555526558!3d13.047487786215978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1634969844673!5m2!1sen!2sin"></iframe>
						</div>
						<div class="tab5">
							<p class="para-agileits-w3layouts"><span>Location : </span>XYZ,Kolkata</p>
							<p class="para-agileits-w3layouts"><span>Call Us : </span>92486258965</p>
							<p class="para-agileits-w3layouts"><span>Email : </span><a href="secondhyd@example.com">secondhyd@example.com</a></p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471220.56303314865!2d88.04953738392673!3d22.67575209552279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1634969882177!5m2!1sen!2sin"></iframe>
						</div>
						</div>

				</div>
			</div>
	</div>
</div>
<!--login-inner-->
<!-- footer -->
<div class="contact-page-w3-agile">
	<div class="tittle-agileinfo">
				<h3>Find Us</h3>
			</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3862.129303780714!2d78.42485966795915!3d17.423367913793324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67f7267b4fe31e13!2sJapanese%20Garden!5e0!3m2!1sen!2sin!4v1622396856336!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>	

 <section class="footer">
	<style>
	   .btns{
		 text-decoration: none;
		 color:white;
	   }
	   
	  </style>
		 <div class="container text-center">
		
			<div class="row">
			   <div class="col-md-3">
				  <h1>Useful Links</h1>
				  <p>Privacy policy</p>
				  <p>Terms of use</p>
				   <p>Return policy</p>
			   </div>
			  <div class="col-md-3">
				<h1>Company</h1>
				<p> <a href="/index" class="btns">Home</a></p>
			 <p> <a href="/Aboutus" class="btns">About Us</a> </p>
				<p> <a href="/contact" class="btns">Contact Us</a></p>
			   </div>
			   <div class="col-md-3">
				<h1>Follow Us On</h1>
				<p><i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/" class="btns"> Facebook</a> </p>
				<p><i class="fa fa-youtube-play"></i> <a href="https://www.youtube.com/" class="btns"> Youtube </a></p>
				  <p><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/" class="btns">Linkedin</a> </p>
				  <p><i class="fa fa-twitter"></i> <a href="https://twitter.com/" class="btns"> Twitter</a> </p>
			   </div>
			   <div class="col-md-3" footer-image>
				  <h1>Download App</h1>
				 <img src="https://i.postimg.cc/brh8rrsT/img-playstore5.png" style="width:114px">
			 <img src="https://i.postimg.cc/bwJPsKNK/img-appstore5.jpg" style="width:114px">
			</div>
			
			
		
		 </div>
		
		
	  </div>
	  <p class="copyright" >&copy Copyright 2021 - SecondHands</p>
	  </section>

<!-- js -->
<script type='text/javascript' src="{% static '/js/jquery-2.2.3.min.js' %}"></script>
<!-- script for responsive tabs -->						
<script src="{% static '/js/easy-responsive-tabs.js' %}"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!-- script for responsive tabs -->		




<script type="text/javascript" src="{% static '/js/bootstrap-3.1.1.min.js' %}"></script>
	

</body>
</html>